<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Project\portfolio\static\style.css">
    <title>Project</title>
</head>
<body>
    <header>
        <h1>Jay Lee</h1>
        <h4>Full-Stack Developer</h4>
        <h4>Coding Dojo Bootcamp Graduate</h4>
        <h4>Masters of Science in Statistics</h4>
        <h4>Bachelors of Art in Mathematics</h4>
        <a href="https://github.com/Jay-clyh-Lee/">Projects</a>
    </header>
    <div class='row'>
        <div class='col'>
            <h2>Career Goal</h2>
            <a href="">
                <img src="" alt="">
            </a>
        </div>
        <div class='col'>
            <h2>Interest</h2>
            <a href="">
                <img src="" alt="">
            </a>
        </div>
        <div class='col'>
            <h2>Hobby</h2>
            <a href="">
                <img src="" alt="">
            </a>
        </div>
        <div class='col'>
            <h2>Bio</h2>
            <a href="">
                <img src="" alt="">
            </a>
        </div>
    </div>
    <script src="C:\Project\portfolio\static\script.js"></script>
</body>
</html>