<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\style.css">
    <title>Project</title>
</head>
<body>

    <header>
        <h1>Jay Lee</h1>
        <h4>Full-Stack Developer</h4>
        <h4>Coding Dojo Bootcamp Graduate</h4>
        <h4>Masters of Science in Statistics</h4>
        <h4>Bachelors of Art in Mathematics</h4>
        <a href="https://github.com/Jay-clyh-Lee/">Github</a>
        <a href="https://">LinkedIn</a>
        <a href="https://">Twitter</a>
    </header>

    <div class='row'>
        <div class='col'>
            <h2>Certification</h2>
            <a href="">Yellow Belt in Web Development Stack, Coding Dojo</a> 
            <a href="">Black Belt in Python Full-Stack, Coding Dojo</a>
            <a href="">
                <img src="" alt="">
            </a>
        </div>
        <div class='col'>
            <h2>Education</h2>
            <a href="">Bootcamp Certification, Coding Dojo</a>
            <a href="">Masters of Science, Statistics, SJSU</a> 
            <a href="">Bachelors of Art, Mathematics, CSULA</a>
            <a href="">
                <img src="" alt="">
            </a>
        </div>
    </div>

    <div class='row'>
        <div class='col'>
            <h2>Hobby</h2>
            <a href="">Gaming</a> 
            <a href="">Coding</a>
            <a href="">
                <img src="" alt="">
            </a>
        </div>
        <div class='col'>
            <h2>Bio</h2>
            <a href="">
                <img src="" alt="">
            </a>
        </div>
    </div>

    <div class='row'>
        <h4>Video clips</h4>
    </div>

    <script src="C:\Project\portfolio\static\script.js"></script>
</body>
</html>